* {
    box-sizing: border-box;
}
button {
    width: 50px;
    height: 50px;
    margin: 5px;
    font-size: 1.25em;
}
#equal {
    height: 110px;
}
#numpad {
    width: 240px;
    font-size: 1.25em;
    margin-left: 5px;
}
#numpad div {
    display: flex;
    flex-direction: column;
}